@model List<NorthwindKurumsal2.Entities.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/Content/Zeon/js/jquery-1.10.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".sepeteAt").click(function () {
            var id = $(this).attr("name");
            $.ajax({
                type: "GET",
                url: "/Urunler/SepeteEklemeKismi",
                data:{id:id},
                success: function () {
                    $.ajax({
                        type:"GET",
                        url: "/Urunler/MiniSepetWidget",
                        success: function (veri) {
                            $(".cart-all").html('');
                            $(".cart-all").html(veri);
                        }
                    });
                },
                error: function () {
                    alert("gidelim");
                }
            });
        });
    });
</script>
<div style="margin-left:100px;">
    <div class="box">
        <div class="container">
            <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
                <div class="site-title">
                    <ul class="wrapper-arrows">
                        <li><i class="icon-517 prev" title="left arrow"></i></li>
                        <li><i class="icon-501 next" title="right arrow"></i></li>
                    </ul>
                    <div class="site-inside"><span>Yeni Ürünlerimiz</span></div>
                </div>
                <div class="row">
                    <div class="tesla-carousel-items">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-3 col-xs-6">
                                <div class="product">
                                    <div class="product-cover">
                                        <span class="product-action">
                                            <span class="product-new">New</span>
                                            <span class="product-sale">Sale</span>
                                        </span>
                                        <div class="product-cover-hover"><span><a href="~/Content/Zeon/images/Resim/1.jpg">@item.ProductName</a></span></div>
                                        <img src="~/Content/Zeon/images/photos/image-9.jpg" alt="product name" />
                                    </div>
                                    <div class="product-details">
                                        <h1><a href="~/Content/Zeon/product.html">@item.ProductName</a></h1>
                                        
                                        <div class="product-price">
                                            <a name="@item.ProductId" class="sepeteAt" >
                                                <i class="icon-257" title="add to cart"></i>
                                            </a>
                                           
                                            @item.Price
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


