@model NorthwindKurumsal2.MvcWebUI.App_Classes.Sepet
<style>
    .ali {
        margin-bottom: 0px;
    }

    .veli {
        margin-top: 0px;
    }
</style>
<div class="cart-all">
    <i class="icon-19" title="19"></i>
    @if (Model != null)
    { @Model.Toplamtutar.ToString()<span>TL</span> }
    else
    {
        <span>0 TL</span>;
    }

    <div class="inside-cart">
        <p class="ali"><a href="/Home/SepetiGoruntule"><span>Sepeti Görüntüle</span> </a></p>
        <p class="veli">
            @if (Model != null)
        {
            <span>Sepette Toplam @Model.Urunler.Sum(x => x.Adet) Adet Ürün Bulunmaktadır.</span>
        }
        else
        {
            <span>Sepette Toplam 0 Adet Ürün Bulunmaktadır.</span>
        }
    </p>
    <ul>
        @if (Model != null)
        {
            foreach (var item in Model.Urunler)
            {
                <li>
                    <div class="inside-cart-image"><img src="images/photos/image-9.jpg" alt="product name" /></div>
                    <a class="urunSil" name="@item.Product.ProductId">x</a>
                    @if (Model != null)
                    {
                        <a href="/Home/UrunDetay/@item.Product.ProductName">@item.Product.ProductName</a>
                    }

                    <p>Tutar:@item.Tutar.ToString("C2")</p>
                    <p>Adet:@item.Adet</p>
                </li>
            }
        }


    </ul>
</div>
</div>

